<html>
    <body>
      <form action='/predict' method="POST">
        General_Health: <input type='number', name='General_Health'><br>
        Exercise:<input type='number', name='Exercise'><br>
        Diabetes:<input type='number', name='Diabetes'><br>
        Arthritis:<input type='number', name='Arthritis'><br>
        Age_Category:<input type='number', name='Age_Category'><br>
        BMI:<input type='float', name='BMI'><br>
        Smoking_History:<input type='number', name='Smoking_History'><br>
        Sex_Female:<input type='number', name='Sex_Female'><br>
        Sex_Male:<input type='number', name='Sex_Male'><br>
        <!--Type: {{result}} <br>-->
        
        <input type='submit' value='Predict'>
      </form>  
    </body>
</html>